@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&family=Zilla+Slab+Highlight&display=swap');

/* THIS IS THE ORIGINAL FONT: |||font-family: 'Share Tech Mono', monospace;||| */

html {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background:rgb(30, 30, 30);
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 0, 128);
    transition-duration: 0.2s;
    box-shadow: 0px 0px 40px rgb(255, 0, 128);
}

::selection {
    background: rgb(255, 0, 128); /* WebKit/Blink Browsers */
  }
::-moz-selection {
    background: rgb(255, 0, 128); /* Gecko Browsers */
}

h1, h2, h3 {
    font-family: 'Libre Barcode 39 Text', cursive;
    color: white;
}

body {
    background-color: rgb(30, 30, 30);
    position: relative;
}

@keyframes load-zoom{
    from{width: 35%; opacity: 0;}
    to{width: 40%; opacity: 1;}
}

.loader{
    width: 40%;
    animation-name: load-zoom;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
}

.loading {
    opacity: 0;
}

.loaded {
    transition-duration: 0.8s;
    opacity: 1;
}

.title-page {
    background-color: rgb(30, 30, 30);
}

.title {
    color: rgb(255, 0, 128);
    font-size: 80px;
    font-family: 'Zilla Slab Highlight', cursive;
    word-wrap: break-word;
    word-break: break-all;
}

.title-p {
    color: white;
    font-size: 16px;
    font-family: monospace;
}

.navbar {
    background-color: rgb(30, 30, 30);
}

.nav-link {
    transition-duration: 0.2s;
    font-family: monospace;
    color: white;
}

.nav-link:hover {
    transition-duration: 0.2s;
    color: rgb(255, 0, 128);
    cursor: pointer;
}

.text-page-file {
    color: rgb(255, 0, 128);
    font-family: monospace;
}

.text-page-h1 {
    color: rgb(255, 0, 128);
    font-family: monospace;
}

.text-page-p {
    color: white;
    font-family: monospace;
    /* text-align: justify; */
}

.text-page-tag {
    color: white;
    display: inline-block;
    /* border-radius: 10px; */
    /* border-color: white;
    border-style: solid; */
    font-family: 'Libre Barcode 39 Text', cursive;
    border-width: 2px;
    padding: 1px 4px 1px 4px;
    margin-right: 4px;
    margin-bottom: 0px;
    font-size: 40px;
}

.text-page-tag:first-letter {
    color: rgb(255, 0, 128);
}

.text-page-p:first-letter {
    color: rgb(255, 0, 128);
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 4px;
    padding-left: 3px;
  }

.img-page {
    background-color: rgb(30, 30, 30);
}

.img-page-img {
    /* margin: 10px 50px; */
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.img-page-vid {
    margin: 10px 50px;
    width: 100%;
    height: 100%;
}

.link {
    display: inline-block;
    color: white;
    transition-duration: 0.2s;
}

.link:hover {
    text-decoration: none;
    color: rgb(255, 0, 128);
    transition-duration: 0.2s;
}

.window-container {
    padding: 10px;
    /* background-color: black; */
    border-color: white;
    border-style: solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 1px;
}

.window-bar {
    padding: 8px;
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.window-dot {
    height: 12px;
    width: 12px;
    background-color: rgb(255, 0, 128);
    border-radius: 50%;
    display: inline-block;
}

.window-text{
    font-family: monospace;
    color: rgb(255, 0, 128);
}

.tab-link {
    background-color: rgb(255, 0, 128);
    padding: 4px 16px;
    color: black;
    font-family: monospace;
    font-weight: bold;
}

.tab-link:not(.active) {
    background-color: white;
}

.tab-link:hover {
    text-decoration: none;
    color: white;
    background-color: black;
}

.censored {
    filter: brightness(0) invert(0);
}

.uncensored {
    transition-duration: 1s;
    filter: brightness(1) invert(0);
}

.censored-container {
    position: relative;
    text-align: center;
}

.censored-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
}

.censored-button {
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
    color: rgb(255, 0, 128);
    transition-duration: 0.5s;
}

.censored-button:hover {
    cursor: pointer;
    border-color: rgb(255, 0, 128);
    border-radius: 10px;
    transition-duration: 0.5s;
}